<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Angular Updates</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Examples
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/defer">Defer - detailed - example</a></li>
            <li><a class="dropdown-item" routerLink="/generate-control-flow">Generate Control Flow - example</a></li>
            <li><a class="dropdown-item" routerLink="/if">If - example</a></li>
            <li><a class="dropdown-item" routerLink="/for">For - example</a></li>
            <li><a class="dropdown-item" routerLink="/switch">Switch - example</a></li>
            <li><a class="dropdown-item" routerLink="/items">Items</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>