<section class="container">
    <div *ngIf="items$ | async" class="row justify-content-center">
        <div class="col-md-6">
            <div class="list-group">
                <a *ngFor="let item of items$ | async" class="list-group-item list-group-item-action"
                    (click)="selectItem(item)">
                    <h5 class="mb-1">{{item.name}}</h5>
                    <p class="mb-1">{{item.description}}</p>
                </a>
            </div>
        </div>
    </div>


    <select [ngModel]="quantity()" (change)="onQuantitySelected($any($event.target).value)"
        class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option *ngFor="let qty of qtyAvailable()">{{qty}}</option>
    </select>

    <!-- <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="list-group">
                <a>
                    <h5 class="mb-1">Item's name: {{selectedItem().name}}</h5>
                    <p class="mb-1">item's price: {{computedPrice() | number: '1.2-2'}}</p>
                </a>
            </div>
        </div>
    </div> -->

    <div><app-item-view [item]="selectedItemViewSignal()" /></div>
</section>